* {
	padding: 0;
	margin: 0;
}
#main_body {
	width: 960px;
	margin: 0 auto;
	max-height: 550px;
}
button {
	margin: 10px;
	width: 150px;
	height: 30px;
}
table {
	margin-left: 8px;
	max-height: 600px;
}
td {
	margin: 1px;
	width: 10px;
	height: 10px;
	border: solid 1px;
}
.blue {
	background-color: blue;
}